@model MsdnWeb.Todo.TodoList
@{ ViewBag.Title = "F# To-Do List"; }

<section>
	<header>
		<h2>@ViewBag.Title</h2>
		@Html.ActionLink("Add item", "Create")
	</header>
	@Html.DisplayForModel()
</section>
